.bigbox{
    width: 90%;
    margin: auto;
}
.infp_span{
    margin:  10px 20px ;
    display: inline-block;
    font-size:15px;
    font-weight: 500;
    width: 45%;
    /*border-style: solid;*/
}
.coll{
    display: inline-block;
    color: white;
    width: 100px;
    height: 20px;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
    /*border-style: solid;*/
    background-color: #ff7700;
     cursor: pointer
}
