<link rel="stylesheet" type="text/css" href="/static/css/search_result.css" />
{% extends 'bootemp.html' %}
{% block title %}QoS预测{% endblock %}
{% block subtit %}
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">
                为你推荐以下服务</div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li><i class="fa fa-home"></i>&nbsp;<a href="#">WEB服务管理</a>&nbsp;&nbsp;<i
                    class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="hidden"><a href="#">服务推荐</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="active">服务推荐</li>
        </ol>
        <div class="clearfix">
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="result_box">
    <div class="index-search" style="width: 500px;">
          <span class="sou"><h4>WEB服务搜索</h4></span>

        <span>
          <form method="get" action="/webservice/dosearch/1/">{% csrf_token %}
      <div class="input-group">

            <input type="search"  required class="form-control" name="q" size="20" id="baidusearch">
          <span class="input-group-btn">
              <button class="btn btn-info" type="submit">搜索</button>
          </span>

        </div></form>
          </span>
    </div>

<div class="result">
    <div class="panel panel-blue" style="background:#fff;">
 <div class="panel-heading">
      为你推荐以下服务</div>
     <div class="panel-body pan">
<div>
        <div class="wsname">
            <a href="{% url 'ws_info' ws.number  %}">
                {{ ws.name }}
            </a>
        </div>
        <div class="wstag">
            <span class="tagname">标签:</span>{{ ws.tag }}
        </div>
        <div class="description">
        &nbsp &nbsp &nbsp &nbsp{{ ws.description }}
        </div>
        <div class="other_info">
        服务提供商：  <span class="supplier">{{ ws.supplier }}</span>  费用：<span class="price">{{ ws.price }}</span>  返回类型：<span class="result_type">{{ ws.result_type }}</span> 更新时间：<span>{{ ws.register_date }}</span>
        </div>
</div>
   </span>
</div>
</div>
</div>
</div>
    </div>
    <script  type="text/javascript" charset="UTF-8">
 </script>
{% endblock %}